---
import "../styles/global.css";
const { title = "Portofolio Astro" } = Astro.props;
---

<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>

  <body class="animated-bg text-gray-100 min-h-screen font-sans">
  <slot />
</body>
  </body>
</html>
